<!DOCTYPE html>
<html>
<head>
    <title>Trade history</title>
    <script type="text/javascript">
        setTimeout(function(){
            window.location.reload(1);
        }, 60000); // 60 seconds
    </script>
    <style>
        body {
            background-color: black; /* Set the background color of the body to black */
            color: white; /* Set the text color to white */
        }   
    </style>
</head>
<body>
    <h1>No finished trade data available yet. <br> Please wait till the FIRST TRADE gets closed successfully.</h1>
    {{ message|safe }}
</body>
</html>